<div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-light text-dark rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">
        The space and aerospace industries are multidisciplinary, as such, it's challenging for an individual
        to fully grasp and build a complex system.
      </p>
      <p class="mb-0">
        The content in this blog aims to cover various topics and familiarize the reader with different
        aspects of the development of such systems. Above all, it's related to the community goals
        and the Rust programming language.
      </p>
    </div>

    <div class="mt-3">
        <a href="mailto:{{ config.extra.email }}"><i class="bi bi-envelope-fill pe-1"></i>Email us</a>
        or <a href="{{ config.extra.github_propose_blog_post }}"><i class="bi bi-github pe-1"></i>open an issue</a>
        if you'd like to feature a blog post related to aerospace or the space industries.
    </div>

    <div class="my-3">
        <h4><a href="{{ get_url(path="@/blog/archive/_index.md") }}">Archive</a></h4>
    </div>
  </div>
</div>