<div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-light text-dark rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers,
        content, or something else entirely. Totally up to you.</p>
    </div>

    <div class="p-4">
      <h4 class="fst-italic">Archives</h4>
      <ol class="list-unstyled mb-0">
        <li><a href="#">March 2021</a></li>
        <li><a href="#">February 2021</a></li>
        <li><a href="#">January 2021</a></li>
        <li><a href="#">December 2020</a></li>
        <li><a href="#">November 2020</a></li>
        <li><a href="#">October 2020</a></li>
        <li><a href="#">September 2020</a></li>
        <li><a href="#">August 2020</a></li>
        <li><a href="#">July 2020</a></li>
        <li><a href="#">June 2020</a></li>
        <li><a href="#">May 2020</a></li>
        <li><a href="#">April 2020</a></li>
      </ol>
    </div>

    <div class="p-4">
        <a href="mailto:aerospace.rust@gmail.com"><i class="bi bi-envelope-fill pe-1"></i>Email us</a> if you'd like to feature a blog post related to aerospace or the space industries, make sure to reach us on 
      
    </div>
  </div>
</div>