<footer class="py-3 my-4 text-muted">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Are we in space yet?</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Github</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Discord</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© {{ now(utc=true) | date(format="%Y") }} AeroRust community</p>
</footer>