@import "custom";

.github-corner {
    position: absolute;
    z-index: 100;
}

.github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

.github-corner:hover .octo-arm {
    animation: none
}

@include media-breakpoint-up(sm) {
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    .github-corner .octo-arm {
        animation: none
    }
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

.form-control-dark:focus {
    border-color: $white;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.crate {

    .card-header a, .card-title a {
        text-decoration: none;
    }
}

.youtube {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;
}
 
.youtube iframe,
.youtube object,
.youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// menu navbar dropdown - disable hover effect
.nav-item.dropdown .dropdown-item:hover {
    background: none;
}

.scroller {
    overflow: auto;
}