{# og::type: https://ogp.me/#no_vertical -#}
{% macro facebook_meta(url, title="", type="website", description="", image="", card="summary_large_image") -%}
{% if title != "" -%}
<meta property="og:title" content="{{ title }}" />
{% endif -%}
<meta property="og:type" content="{{ type }}" />
{% if description != "" -%}
<meta property="og:description" content="{{ description }}" />
{% endif -%}
{# <meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:locale:alternate" content="es_ES" />
<meta property="og:site_name" content="IMDb" /> -#}
<meta property="og:url" content="{{ url }}" />
{% if image != "" -%}
<meta property="og:image" content="{{ image }}" />
{% endif -%}
{% endmacro %}

{% macro twitter_meta(title="", description="", image="", image_alt="", card="summary_large_image") %}
{% if title != "" -%}
    <meta name="twitter:title" content="{{ title }}">
{% endif -%}
{% if description != "" -%}
    <meta name="twitter:description" content="{{ description }}">
{% endif -%}
{% if image != "" -%}
    <meta name="twitter:image" content=" {{ image }}">
{% if image_alt != "" -%}
    <meta name="twitter:image" content=" {{ image }}">
{% endif -%}
{% endif -%}
    <meta name="twitter:card" content="{{ card }}">
    <meta name="twitter:site" content="{{ config.extra.twitter_username }}">
{% endmacro %}