{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
{# <div class="p-3 mt-3 p-md-4 mb-3 text-bg-light rounded">
  <div class="col-md-8 px-0">
    <h2 class="display-6 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
        about what's most interesting in this post's contents.</p>
      <p class="lead mb-0"><a href="#" class="fw-bold">Continue reading...</a></p>
  </div>
</div> #}

<div class="row gx-5 gy-0 mt-3">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 border-bottom">
      {{ section.title }}
    </h3>

    {% for post in paginator.pages -%}
    <article class="blog-post">
      <h2 class="blog-post-title mb-1"><a href="{{ post.permalink | safe }}">{{ post.title }}</a></h2>
      <p class="blog-post-meta">{{ post.date | date(format="%B %e, %Y") }} by {{ post.extra.author }} ( <a
          href="https://twitter.com/{{ post.extra.twitter}}" target="_blank"
          ><i class="bi bi-twitter pe-1"></i>@{{ post.extra.twitter }}</a> | <a
          href="https://github.com/{{ post.extra.github}}" target="_blank"
          ><i class="bi bi-github pe-1"></i>{{ post.extra.github }}</a> )</p>

      <p>{{ post.description }}</p>

        {# <blockquote class="blockquote"> #}
        <p class="fst-italic">
          "{{ post.content | striptags | truncate(length=300) }}..."
        </p>
        {# </blockquote> #}
    </article>
    {% endfor -%}
    {% if paginator.number_pagers > 1 -%}
    <nav aria-label="Pagination">
      <ul class="pagination mb-0">
        <li class="page-item me-1 {% if paginator.previous | as_str == "" %} disabled{% endif %}">
          <a class="page-link" href="{{ paginator.previous | default(value="#") }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for page in range(start=1, end=paginator.number_pagers+1) -%}
        <li class="page-item">
          <a
          class="page-link{% if paginator.current_index == page %} active{% endif %}"
          {% if paginator.current_index==page %}aria-current="page" {% endif %}
          href="{{ paginator.base_url ~ page }}"
          >{{ page }}</a>
        </li>
        {% endfor -%}
        <li class="page-item">
          <a class="page-link ms-1 {% if paginator.next | as_str == "" %} disabled{% endif %}"
          href="{{ paginator.next | default(value="#") }}"
          aria-label="Next"
          ><span aria-hidden="true">&raquo;</span></a>
        </li>
      </ul>
    </nav>
    {% endif -%}
  </div>

  <div class="col-md-4">
    {% include "partials/blog_side.html" -%}
  </div>
</div>
{% endblock content %}