{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<div class="row gx-5 mt-3">
  <div class="col-md-8">
    <article class="blog-post">
        <h1 class="blog-post-title pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h1>
        <p class="blog-post-meta">{{ page.date | date(format="%B %e, %Y") }} ·
            {{ authors::comma_separated(authors=page.extra.author) }}
        </p>

        {% if page.extra.show_toc %}
            {% if page.toc %}
            Table of contents:
            <ul>
                {% for h1 in page.toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                    {% if h2.children %}
                                        <ul>
                                            {% for h3 in h2.children %}
                                                <li>
                                                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}

        {{ page.content | safe }}
    </article>
  </div>

  <div class="col-md-4">
    {% include "partials/blog_side.html" -%}
</div>
{% endblock content %}