{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="row gx-5 mt-3">
  <div class="col-md-8">
    <article class="blog-post">
      <h1 class="blog-post-title pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h1>
      <p class="blog-post-meta">{{ page.date | date(format="%B %e, %Y") }} by {{ page.extra.author }} ( <a href="https://twitter.com/{{ page.extra.twitter}}" target="_blank"><i class="bi bi-twitter pe-1"></i>@{{ page.extra.twitter}}</a> | <a
        href="https://github.com/{{ page.extra.github}}" target="_blank"
        ><i class="bi bi-github pe-1"></i>{{ page.extra.github }}</a> )</p>

      {{ page.content | safe }}
    </article>
  </div>

  <div class="col-md-4">
    {% include "partials/blog_side.html" -%}
</div>
{% endblock content %}