{% extends "base.html" %}

{% block title %}Are we in space yet? catalogue{% endblock title %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ get_url(path="images/cargo.png") }}" alt="" width="72" height="72">
  <h1 class="display-5 fw-bold">Are we <strong class="text-aerorust-light">in space</strong> yet?</h1>
  <h2>Yes! There is some Rust in space!</h2>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">
      This is a catalogue of crates (Rust's libraries) separated by in their categories.
      Only categories related to aerospace or space applications are included in this list
      and they are automatically extracted for <a href="https://crates.io">crates.io</a>
      - the official crates registry.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-aerorust-light btn-lg px-4 me-md-2 text-white">View Crates</button>
        <button type="button" class="btn btn-outline-aerorust-light btn-lg px-4">By Category</button>
    </div>
  </div>
</div>

{# <div class="container col-xxl-8 px-4 py-5 text-gray-300">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-12 col-lg-6 mx-auto">
      <img src="" class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes" width="227" height="227" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3"></h1>
      <h2>Yes! There is some Rust in space!</h2>
      <p class="lead">
        This is a catalogue of crates (Rust's libraries) separated by in their categories.
        Only categories related to aerospace or space applications are included in this list
        and they are automatically extracted for <a href="https://crates.io">crates.io</a>
        - the official crates registry.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        
      </div>
    </div>
  </div>
</div> #}

{# <p>Click <a href="{{ get_url(path=" @/blog/_index.md") }}">here</a> to see my posts.</p> #}
{% endblock content %}