{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block meta %}
  {{ meta_macros::facebook_meta(url=current_url, title="Welcome to AeroRust (ÄR) - Your launchpad to space", type="website", description=section.description, image=get_url(path="images/aerorust-ferris.png")) }}
  {{ meta_macros::twitter_meta(title="Welcome to AeroRust (ÄR) - Your launchpad to space", description=section.description, image=get_url(path="images/aerorust-ferris.png")) }}
{% endblock %}

{% block content %}
<div class="container py-4 text-gray-300">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-12 col-lg-6 mx-auto">
      <img src="{{ get_url(path="images/aerorust-ferris.png") }}" class="d-block img-fluid"
        alt="Ferris wearing an AeroRust hat" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the <strong class="text-aerorust-light">AeroRust</strong> community</h1>
      <p class="lead">
        Our community aims to grow the <a href="{{ config.extra.rustlang_website | safe }}" target="_blank" class="fw-bold">Rust</a>
        programming language ecosystem for aerospace applications because it
        "empowers everyone to build reliable and efficient software".
      </p>
      <p class="lead">
        Rust has many compelling features and benefits over other languages used in these industries,
        including being easily interoperable with other languages and tool chains.
        <br>
        {# <a href="#learn-more" class="fw-bold">Learn more...</a> #}
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{{ config.extra.github_org | safe }}" target="_blank" class="btn btn-outline-light btn-lg px-4 me-md-2"><i
            class="bi bi-github me-2"></i>Github</a>
        <a href="{{ config.extra.discord_invite | safe }}" target="_blank" class="btn btn-outline-light btn-lg px-4 position-relative"><i
            class="bi bi-discord me-2"></i>Join Discord
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ config.extra.discord_members_count }}<span class="visually-hidden">members</span>
            </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="p-4 mb-3 bg-light rounded text-center overflow-hidden">
    <div class="my-1 py-1 text-dark">
      <h3 class="display-5 fst-italic">Subscribe to our newsletter</h2>
      <p class="lead">and receive emails with the latest news, blog posts and videos!</p>
    </div>
    <form action="{{ config.extra.subscribe_form_url }}" method="post" id="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div class="mb-3 row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <input type="email" name="EMAIL" placeholder="Email address" class="form-control form-control-lg" id="inputEmail" aria-describedby="emailHelp">
          </div>
          <div id="emailHelp" class="col-12 form-text">We'll only contact you for community related content and never share your email with others.</div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          {# real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
          <input type="text" name="b_fcb3dda7a7dc64758afa698dd_812128325d" tabindex="-1" value="">
        </div>
        {# the newsletter tag #}
        <input type="hidden" name="tags" value="2988840">
      <button type="submit" class="btn btn-lg btn-dark">Subscribe</button>
    </form>
  </div>
</div>

<div id="learn-more">
  
</div>

{# <p>Click <a href="{{ get_url(path=" @/blog/_index.md") }}">here</a> to see my posts.</p> -#}
{% endblock content %}
